.container {
    display: flex;
    background-image: linear-gradient(to right, purple, blue);
    flex-direction: row;
    border-radius: 10px;
}

.flex-direction-row {
    flex-direction: row;
}


.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}


.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.container div {
    background-color: orange;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    color: antiquewhite;
    font-weight: bold;
/* width: 200px;
height: 100px;
padding: 5px; */
}
